<!DOCTYPE html>
<html>
<head>
<title>[[title]]</title>
<meta charset="utf-8">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="http://mj-public.mjmobi.com/wd/mj/favicon.ico">
<style>
body { font-family: arial }
.content { margin: 0 auto }
.content p { margin: 5px 0 }
.content img { display: inline }
</style>
{% block css %}{% endblock %}
{% if css %}
{% for c in css %}
{% autoescape false %}
<link rel="stylesheet" href="[[c]]">
{% endautoescape %}
{% endfor %}
{% endif %}
</head>
<body>
<section id="v_edit_app" v-cloak>
	[[header]]

	<section id="page_content" class="content" style="width: [[width]]px;">[[body]]</section>

	<section class="model">
		{% if model %}
		{% for m in model %}
		{% autoescape false %}[[m.html]]{% endautoescape %}
		{% endfor %}
		{% endif %}
	</section>

	[[footer]]
</section>
{% if js %}
{% for j in js %}
{% autoescape false %}
<script src="[[j]]"></script>
{% endautoescape %}
{% endfor %}
{% endif %}
</body>
</html>