<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="common/default.css">
<link rel="stylesheet" href="common/fa/fa.css">
<link rel="stylesheet" href="css/css.css">
</head>
<body>

<div id="vApp" v-cloak>

<!-- 主HTML 开始 -->



<div class="case-nav">
	<h3>成功案例<i>&gt;</i><e-text v-model="json.title"></e-text></h3>
</div>

<e-bgimage v-model="json.banner_img" e-class="d-banner" max-size="150">
	<div class="data-box three">
		<div class="data-left">
			<p class="data-top"><e-text v-model="json.tab1_1"></e-text></p>
			<p class="data-bottom"><e-text v-model="json.tab1_2"></e-text></p>
		</div>
		<div class="data-middle">
			<p class="data-top"><e-text v-model="json.tab2_1"></e-text></p>
			<p class="data-bottom"><e-text v-model="json.tab2_2"></e-text></p>
		</div>
		<div class="data-right">
			<p class="data-top"><e-text v-model="json.tab3_1"></e-text></p>
			<p class="data-bottom"><e-text v-model="json.tab3_2"></e-text></p>
		</div>
		<span class="data-border data-border-left"></span>
		<span class="data-border data-border-right"></span>
	</div>
	<div class="bg-word">
		<p class="bg-word-top"><e-text v-model="json.maintitle"></e-text></p>
		<p class="bg-word-bottom"><e-text v-model="json.subtitle"></e-text></p>
	</div>
</e-bgimage>

<div class="d-case-content">
	<div class="d-case-desc">
		<h3 class="desc-title"><e-text v-model="json.contitle"></e-text></h3>
		<e-textarea v-model="json.condesc"></e-textarea>
	</div>
	<div class="d-case-img">
		<e-image v-model="json.case_img"></e-image>
	</div>
</div>

<e-bgimage v-model="json.bottom_img" e-class="appointment-section">
	<h3><e-text v-model="json.bottitle"></e-text></h3>
</e-bgimage>



<!-- 主HTML 结束 -->


</div>
<script src="common/jquery.js"></script>
<script src="common/vue.js"></script>
<script src="common/default.js"></script>
<script src="common/business.js"></script>
<script src="js/js.js"></script>
</body>
</html>