{% extends 'layout/layout.html' %}

{% block body %}
<!-- CRM -->
<div class="wrap header">
    <div class="main">
        <a class="logo-index">
        	<img src="/img/img-logo-index.png" alt="微盟盟聚">
        	<span>资源发布系统</span>
        </a>
    </div>
</div>
<div class="banner">
	<img src="/img/index_banner.jpg">
</div>
<div class="content">
	<p class="conTxt">请选择登录方式</p>
	<div class="conBtn">
		<form id="form">
			<input type="file" id="file" name="file" accept=".jpg,.png" multiple>
			<a id="upload" class="loginBtn btn_l">上传</a>
		</form>
	</div>
</div>
<footer>
	<div class="content_f">
		<p><img src="/img/logo_footer.png" alt="微盟盟聚"></p>
		<p>
			<span>咨询热线：400-067-0260</span>
			|
			<span>QQ：4000670260</span>
			|
			<span>邮箱：<a href="mailto:mjsales@weimob.com">mjsales@weimob.com</a></span>
		</p>
		<p>地址： 上海市宝山区长江路258号微盟大厦</p>
		<p>Copyright © 2011-2016 www.weimob.com. All Rights Reserved 上海晖硕信息科技有限公司版权所有 沪ICP备13021836号-1</p>
	</div>
</footer>
{% endblock %}

{% block css %}
<style>
	* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	body {
		font-family: '微软雅黑', 'Open Sans', sans-serif;
		color: #505050;
		line-height: 20px;
		overflow-x: hidden;
		font-size: 14px;
	}
	a {
		color: #505050;
		text-decoration: none;
	}
	img {
		display: block;
	}
	.wrap{
		min-width: 1200px;
		width: 100%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.main{
		min-height: 100%;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		padding: 15px 0;
	}
	.header{
	    position: fixed;
	    top: 0;
	    background: rgba(255, 255, 255, .9);
	}
	.logo-index {
		float: left;
		display: block;
		width: 270px;
		height: 44px;
		margin-left: 40px;
	}
	.logo-index img {
		float: left;
	}
	.logo-index span {
		float: left;
		font-size: 20px;
		margin-top: 20px;
		margin-left: 15px;
	}
	.banner{
		min-width: 1200px;
	}
	.banner img{
		width: 100%;
	}
	.content{
		padding-bottom: 200px;
	}
	.conTxt{
		font-size: 20px;
		color: #42a4ff;
		line-height: 100px;
		margin-top: 15px;
		text-align: center;
	}
	.loginBtn{
		width: 200px;
		height: 50px;
		text-align: center;
		font-size: 16px;
		line-height: 50px;
		border-radius: 25px;
		box-shadow: none;
		background-color: #fff;
		border: 1px solid #505050;
	}
	.conBtn{
		width: 454px;
		margin:0 auto;
	}
	.btn_l{
		float: left;
	}
	.btn_r{
		float: right;
	}
	.loginBtn:hover{
		background-color: #42a4ff;
		border: 1px solid #42a4ff;
		color: #fff;
	}
	footer{
		min-width: 1000px;
		background-color: #2c2c2c;
	}
	footer .content_f{
		width: 1000px;
		margin:0 auto;
		text-align: left;
		font-size: 16px;
		color: #fff;
		padding: 25px 0 15px;
	}
	footer .content_f p{
		margin: 0 0 10px;
	}
	footer .content_f a{
		color: #fff;
	}
</style>
{% endblock %}

{% block js %}
<script src="/js/lib/jquery.js"></script>
<script>
$.ajax({
	url: '/api/user/getUserInfo',
	success: function(o) {
		console.log(o);
	}
});
$('#upload').on('click', function() {
	// var formData = new FormData(document.querySelector('#form'));
	var files = $('#file')[0].files;
	var formData = new FormData();
	for (var v of files) {
		formData.append('file', v);
	}
	$.ajax({
		url:  '/api/file/upload',
		type: 'POST',
		data: formData,
		cache: false,
		// 告诉jQuery不要去处理发送的数据
		processData: false,
		// 告诉jQuery不要去设置Content-Type请求头
		contentType: false,
		beforeSend: function(){
			console.log('正在进行，请稍候');
		},
		success: function(res) {
			if (res.code === '0000') {
				console.log(res);
			} else {
				alert(res.message);
				if (/000\d/.test(res.code)) location.href = '/login';
			}
		},
		error: function(err) {
			console.log(err);
		}
	});
});
</script>
{% endblock %}