<div v-if="!timeline.length">暂时看不了^_^</div>
<ul class="timeline timeline-inverse" v-if="timeline.length">
	<div v-for="i in timeline">
		<li class="time-label">
			<span class="bg-gray-light">{{i.createdAt}}</span>
		</li>
		<li>
			<i class="fa fa-photo bg-yellow" v-if="i.type == 'imgrp' || i.type == 'imgrpc'"></i>
			<i class="fa fa-font bg-blue" v-if="i.type == 'txtrp' || i.type == 'txtrpc'"></i>
			<i class="fa fa-th bg-aqua" v-if="i.type == 'temp'  || i.type == 'tempc'"></i>
			<i class="fa fa-file-code-o bg-red" v-if="i.type == 'page'  || i.type == 'pagec'"></i>
			<i class="fa fa-shopping-bag bg-green" v-if="i.type == 'shop'  || i.type == 'shopc'"></i>
			<i class="fa fa-file-video-o bg-fuchsia" v-if="i.type == 'store' || i.type == 'storec'"></i>
			<i class="fa fa-camera bg-purple" v-if="i.type == 'file'"></i>
			<div class="timeline-item">
				<div class="timeline-body" v-if="i.type != 'file'">
					{{i.loginname}} {{tDirective[i.directive]}} {{tType[i.type]}} {{ i.desc.split(',')[1] || i.desc.split(',')[0] || '' }}
				</div>
				<div class="timeline-body" v-if="i.type == 'file'">
					{{i.loginname}} {{tType[i.type]}} {{tDirective[i.directive]}}<br>
					<div class="bgimg bgimg_100" :style="'background-image: url('+i.desc+');'"></div>
				</div>
			</div>
		</li>
	</div>
	<li>
		<i class="fa fa-clock-o bg-gray"></i>
	</li>
</ul>


<!-- <ul class="timeline timeline-inverse">
	<li class="time-label">
		<span class="bg-red">10 Feb. 2014</span>
	</li>
	<li>
		<i class="fa fa-envelope bg-blue"></i>
		<div class="timeline-item">
			<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
			<h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
			<div class="timeline-body">
				Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
				weebly ning heekya handango imeem plugg dopplr jibjab, movity
				jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
				quora plaxo ideeli hulu weebly balihoo...
			</div>
			<div class="timeline-footer">
				<a class="btn btn-primary btn-xs">Read more</a>
				<a class="btn btn-danger btn-xs">Delete</a>
			</div>
		</div>
	</li>
	<li>
		<i class="fa fa-user bg-aqua"></i>

		<div class="timeline-item">
			<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

			<h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
			</h3>
		</div>
	</li>
	<li>
		<i class="fa fa-comments bg-yellow"></i>
		<div class="timeline-item">
			<span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
			<h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
			<div class="timeline-body">
				Take me to your leader!
				Switzerland is small and neutral!
				We are more like Germany, ambitious and misunderstood!
			</div>
			<div class="timeline-footer">
				<a class="btn btn-warning btn-flat btn-xs">View comment</a>
			</div>
		</div>
	</li>
	<li class="time-label">
		<span class="bg-green">3 Jan. 2014</span>
	</li>
	<li>
		<i class="fa fa-camera bg-purple"></i>
		<div class="timeline-item">
			<span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
			<h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
			<div class="timeline-body">
				<img src="/img/img-150x100.png" class="margin">
				<img src="/img/img-150x100.png" class="margin">
				<img src="/img/img-150x100.png" class="margin">
				<img src="/img/img-150x100.png" class="margin">
			</div>
		</div>
	</li>
	<li>
		<i class="fa fa-clock-o bg-gray"></i>
	</li>
</ul> -->