<div class="box box-solid">
	<div class="box-header with-border">
		<h3 class="box-title">盟聚业务</h3>
	</div>

	<div class="box-body box-profile">
		<div class="post">

			<div class="row margin-bottom">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-6">
							<img class="img-responsive" src="/img/photo1.png" alt="Photo">
						</div>
						<div class="col-sm-6">
							<img class="img-responsive" src="/img/photo2.png" alt="Photo">
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-6">
							<img class="img-responsive" src="/img/photo3.jpg" alt="Photo">
						</div>
						<div class="col-sm-6">
							<img class="img-responsive" src="/img/photo4.jpg" alt="Photo">
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-6">
							<img class="img-responsive" src="/img/photo1.png" alt="Photo">
						</div>
						<div class="col-sm-6">
							<img class="img-responsive" src="/img/photo2.png" alt="Photo">
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>