{% extends '../layout/layout.html' %}

{% block body %}

<div class="box">
	<div class="box-header">
		<h3 class="box-title"></h3>
	</div>
	<div class="box-body">

		<div class="col-md-8 col-md-offset-2">
			<i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="120">
				<Form-item label="模板列表KEY">
					<span>{{page.key}}</span>
				</Form-item>
				<Form-item label="模板列表名称">
					<span>{{page.name}}</span>
				</Form-item>
				<Form-item label="标题" prop="title">
					<i-input v-model="formValidate.title" type="text" placeholder="(不超过100个字)" :maxlength="100"></i-input>
				</Form-item>

				<Form-item label="页面宽度" prop="width">
					<i-input v-model="formValidate.width" type="text" placeholder="(数值范围: 640-1600)" :maxlength="10"></i-input>
				</Form-item>

				<Form-item label="HTML">
					<div id="edit_html"></div>
				</Form-item>

				<Form-item label="公共头">
					<Row>
						<i-col span="12">
							<i-button v-if="!formValidate.header.id" type="ghost" @click="getTemp('header')">选择</i-button>
							<span v-if="formValidate.header.id">{{formValidate.header.title}}</span>
							<i-button v-if="formValidate.header.id" type="error" @click="handleSelRemove('header')">删除</i-button>
						</i-col>
					</Row>
				</Form-item>

				<Form-item label="公共底">
					<Row>
						<i-col span="12">
							<i-button v-if="!formValidate.footer.id" type="ghost" @click="getTemp('footer')">选择</i-button>
							<span v-if="formValidate.footer.id">{{formValidate.footer.title}}</span>
							<i-button v-if="formValidate.footer.id" type="error" @click="handleSelRemove('footer')">删除</i-button>
						</i-col>
					</Row>
				</Form-item>

				<Form-item
					v-for="(item, idx) in formValidate.modelItems"
					:label="'模块' + (idx + 1)">
					<Row>
						<i-col span="12">
							<span v-if="item.id">{{item.title}}</span>
							<i-button type="error" @click="handleSelRemove(idx)">删除</i-button>
						</i-col>
					</Row>
				</Form-item>
				<Form-item v-if="formValidate.modelItems.length < 10">
					<Row>
						<i-col span="12">
							<i-button type="dashed" long @click="getTemp('modelItems')" icon="plus-round">新增 模块</i-button>
						</i-col>
					</Row>
				</Form-item>

				<Form-item>
					<i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
					<!-- <i-button type="ghost" style="margin-left: 8px" @click="handleReset('formValidate')">重置</i-button> -->
				</Form-item>
			</i-form>
		</div>

		<!-- 选择公共模块 -->
		<Modal v-model="Modal" :title="mTitle" @on-ok="handleCtrl" :width="720">
			<div class="row form-group">
				<div v-if="!isTempC" class="col-md-12">
					<i-table :columns="columns" :data="pageTemp.dataList"></i-table>
					<div style="margin: 10px;overflow: hidden">
						<div style="float: right;">
							<Page :total="pageTemp.total" :page-size="pageTemp.pageSize" :current="pageTemp.current" @on-change="changePage($event, 'pageTemp')" show-total></Page>
						</div>
					</div>
				</div>
				<div v-if="isTempC" class="col-md-12">
					<i-table :columns="columns" :data="pageTempC.dataList"></i-table>
					<div style="margin: 10px;overflow: hidden">
						<i-button type="ghost" @click="handleReturn">返回</i-button>
						<div style="float: right;">
							<Page :total="pageTempC.total" :page-size="pageTempC.pageSize" :current="pageTempC.current" @on-change="changePage($event, 'pageTempC')" show-total></Page>
						</div>
					</div>
				</div>
			</div>
			<div slot="footer"></div>
		</Modal>

	</div>
</div>


{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script src="/js/util/ueditor/ueditor.config.js"></script>
<script src="/js/util/ueditor/ueditor.all.js"></script>
<script src="/js/page/itemAdd.js"></script>
{% endblock %}