{% extends '../layout/layout.html' %}

{% block body %}

<div class="box">
	<div class="box-header">
		<h3 class="box-title"></h3>
	</div>
	<div class="box-body">

		<div class="col-md-6 col-md-offset-3">
			<i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="120">
				<Form-item label="推荐位KEY">
					<span>{{formValidate.key}}</span>
				</Form-item>
				<Form-item label="推荐位名称">
					<span>{{formValidate.name}}</span>
				</Form-item>
				<Form-item v-if="formValidate.description" label="备注" prop="description">
					<span>{{formValidate.description}}</span>
				</Form-item>
				<Form-item label="标题" prop="title">
					<i-input v-model="formValidate.title" type="text" placeholder="(不超过100个字)" :maxlength="100"></i-input>
				</Form-item>
				<Form-item label="链接" prop="url">
					<i-input v-model="formValidate.url" type="text" :maxlength="100"></i-input>
				</Form-item>
				<Form-item label="开始时间">
					<Date-picker type="datetime" format="yyyy-MM-dd HH:mm" v-model="formValidate.startTime" :editable="false"></Date-picker>
				</Form-item>
				<Form-item label="结束时间">
					<Date-picker type="datetime" format="yyyy-MM-dd HH:mm" v-model="formValidate.endTime" :editable="false"></Date-picker>
				</Form-item>
				
				<Form-item :label="li.name" v-for="(li, idx) in custemItems">
					<!-- 文本 -->
					<i-input v-if="li.type === 'String'" v-model="formValidate.custemItems[li.key]" type="text" :placeholder="li.name +' (不超过60个字)'" :maxlength="60"></i-input>

					<!-- 布尔值 -->
					<Checkbox v-if="li.type === 'Boolean'" v-model="formValidate.custemItems[li.key]"></Checkbox>

					<!-- 日期 -->
					<Date-picker v-if="li.type === 'Date'" type="datetime" format="yyyy-MM-dd HH:mm" :placeholder="li.name" v-model="formValidate.custemItems[li.key]" :editable="false"></Date-picker>
				</Form-item>

				<Form-item>
					<i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
					<!-- <i-button type="ghost" style="margin-left: 8px" @click="handleReset('formValidate')">重置</i-button> -->
				</Form-item>
			</i-form>
		</div>

	</div>
</div>


{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script src="/js/txtrp/itemAdd.js"></script>
{% endblock %}